* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    font-family: sans-serif;
}

body {
    height: auto;
    width: 100%;
    min-height: 100%;

    background: #242424;
    color: #e0e0e0;
}

header.top-bar {
    position: fixed;
    width: 100%;
}

nav.top-menubar  {
    display: flex;
    align-items: center;

    height: 70px;
    padding: 0 50px;
    background: rgba(36, 36, 36, .7);
    backdrop-filter: saturate(50%) blur(8px);
}

nav.top-menubar .logo-search-bar {
    margin-right: auto;

    display: flex;
    align-items: center;
}
nav.top-menubar .logo-search-bar a {
    transition: opacity .25s;
}
nav.top-menubar .logo-search-bar a:hover {
    opacity: .6;
}

nav.top-menubar .logo-search-bar img {
    height: 50px;
    margin-right: 3px;
}

nav.top-menubar .logo-search-bar .search {
    display: flex;
    align-items: center;

    border-radius: 11px;
    padding: 0 10px;
    cursor: pointer;

    margin-left: 32px;
    height: 43px;
    width: max-content;

    transition: width .3s;

    color: #e0e0e0;
    background: #1a1a1a;
}
nav.top-menubar .logo-search-bar .search:hover {
    box-shadow: 0 0 0 1px #936ae0;
    outline: .01px #936ae0;
}

nav.top-menubar .logo-search-bar .search svg.search-icon {
    width: 15px;
    color:#e0e0e0;
    margin-right: 6px;
}
nav.top-menubar .logo-search-bar .search div {
    display: inline-block;
    color: #e0e0e0;
    opacity: .6;
}
nav.top-menubar .logo-search-bar .search .search-txt {
    font-size: 13px;
    margin-right: 6px;
}

nav.top-menubar .logo-search-bar .search .key-ctrl-k {
    border: 1px solid #e0e0e0;
    padding: 1px 3px;
    border-radius: 5px;
}

nav.top-menubar .menus {
    display: flex;

    height: 100%;
    align-items: center;
    width: max-content;
}

nav.top-menubar .menus li {
    list-style: none;
    padding: 0 12px;
}

nav.top-menubar .menus li,
nav.top-menubar .menus a {
    display: flex;
    align-items: center;
    height: 100%;

    color: #e0e0e0;
    font: 500 18px sans-serif;
    transition: color .25s;
}

nav.top-menubar .menus a:hover {
    color: #936ae0;
}

nav.top-menubar span {
    margin: 0 20px;
    width: 1px;

    height: 40%;

    background: #3e3f43;
    box-shadow: 1px 1px 5px #1a1a1a;
}

nav.top-menubar .social-media {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: max-content;
}

nav.top-menubar .social-media a {
    margin: 0 10px;
}
nav.top-menubar .social-media a svg {
    width: 22px; 
    fill: #9b9b9b;
    transition: fill .4s;
}
nav.top-menubar .social-media a svg:hover {
    fill: #e0e0e0;
}

main.content {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: auto;
    width: 80%;
    margin: 0 auto;

    padding-top: 70px;
}

main.content h2 {
    font-size: 45px;
}
main.content p {
    font-size: 25px;
}

main.content iframe {
    width: 100%;
    height: 80vh;

    margin-bottom: 5px;
}

main.content .images {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
}
main.content .images img {
    position: relative;
    width: calc(50% - 10px);
    margin: 5px;
    z-index: -999;
}

main.content input {
    border: none;
    height: 30px;
    border-radius: 4px;
    padding: 10px;
    font: 14px;
    width: 100%;
}
main.content input:hover,
main.content input:focus {
    box-shadow: 0 0 0 0;
    outline: none;
}

main.content textarea {
    resize: none;
    box-shadow: 0 0 0 0;
    outline: none;

    border-radius: 4px;
    padding: 10px;
    font: 14px;
}

main.content button {
    width: 140px;
    height: 30px;
    background-color: #936ae0;
    border: none;
    color: #fff;
}

@media (max-width: 1000px) {
    nav.top-menubar {
        padding: 0 5px;
    }

    nav.top-menubar .logo-search-bar {
        margin-left: 10px;
    }

    nav.top-menubar .menus li {
        padding: 0 6px;
    }

    nav.top-menubar .menus li a {
        font-size: 18px;
    }

    nav.top-menubar .ph-dots-three {
        display: inline;

        font-size: 25px;
        font-weight: 600;
        font-family: sans-serif;
        padding-right: 20px;
        cursor: pointer;
    }

    nav.top-menubar .social-media {
        display: none;
    }
}