[submodule "ads-section-3/programação-para-web/pw1-2022-02-atividade-aula"]
	path = ads-section-3/programação-para-web/pw1-atividades
	url = https://github.com/dsalinux/pw1-2022-02-atividade-aula.git
