[submodule "ads-section-3/programação-para-web/pw1-2022-02-atividade-aula"]
	path = ads-section-3/programação-para-web/pw1-atividades
	url = https://github.com/dsalinux/pw1-2022-02-atividade-aula.git
[submodule "ads-section-3/programação-para-web/challenges/stray-menu-bar"]
	path = ads-section-3/programação-para-web/challenges/stray-menu-bar
	url = git@github.com:dc7devs/stray-menu-bar.git
[submodule "ads-section-3/programação-orientada-a-objeto/java/academic-record-system"]
	path = ads-section-3/programação-orientada-a-objeto/java/academic-record-system
	url = https://github.com/dc7devs/academic-record-system
[submodule "ads-section-3/programação-orientada-a-objeto/java/consultation-management-system"]
	path = ads-section-3/programação-orientada-a-objeto/java/consultation-management-system
	url = git@github.com:dc7devs/consultation-management-system.git
