<h2>DESENVOLVA UM ANTIGO MISTÉRIO PARA ESCAPAR DE UMA CIDADE HÁ MUITO ESQUECIDA.</h2><br>
<p>Perdido, sozinho e separado da família, um gato de rua deve desvendar um mistério antigo para escapar de uma cidade há muito esquecida.</p><br>
<p>Stray é um jogo de aventura de gato em terceira pessoa ambientado em becos detalhados e iluminados por neon de uma cibercidade decadente e os ambientes sombrios de seu submundo decadente. Percorra os arredores altos e baixos, defenda-se contra ameaças imprevistas e resolva os mistérios deste lugar hostil habitado por droides curiosos e criaturas perigosas.</p><br>
<p>Veja o mundo pelos olhos de um gato e interaja com o ambiente de forma lúdica. Seja furtivo, ágil, bobo e às vezes o mais irritante possível com os estranhos habitantes deste mundo misterioso.</p><br>
<p>Ao longo do caminho, o gato faz amizade com um pequeno drone voador, conhecido apenas como B-12. Com a ajuda deste companheiro recém-descoberto, a dupla deve encontrar uma saída.</p><br>
<p>Stray é desenvolvido pela BlueTwelve Studio, uma pequena equipe do sul da França composta principalmente por gatos e um punhado de humanos.</p><br>

<iframe src="https://www.youtube.com/embed/4uP2MyUL49s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<section class="images">
    <img src="https://images2.alphacoders.com/125/1258471.jpg" alt="Motive">
    <img src="https://images7.alphacoders.com/116/1162253.jpg" alt="Motive">
    <img src="https://images6.alphacoders.com/116/1162254.jpg" alt="Motive">
    <img src="https://images.alphacoders.com/116/1162249.jpg" alt="Motive">
    <img src="https://images2.alphacoders.com/124/1243548.jpg" alt="Motive">
    <img src="https://images8.alphacoders.com/116/1162251.jpg" alt="Motive">
</section>