* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: #111;
    font-family: Poppins, sans-serif;
}

body {
    width: 100%;
    height: auto;
    background-color: #EEE;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

header div.top-bar {
    height: 100%;
    width: 800px;
    padding: 20px 0;
    margin: 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

header div.logo {
    display: flex;
    align-items: center;
}

header div.logo img {
    height:  70px;
}

header nav.menu-bar ul {
    display: flex;
    justify-content: stretch;
}

header nav.menu-bar ul li {
    line-height: 70px;
    margin: 0 20px;
}

header nav.menu-bar ul li a {
    font-size: 20px;
    font-weight: 600;
    opacity: 0.85;
    transition: .5s;
}

header nav.menu-bar ul li a:hover {
    transition: .5s;
    opacity: 1;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

main section.section-boxs-imgs,
main section.section-text {
    margin: 20px 0;
}

main section.section-boxs-imgs {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

main section.section-boxs-imgs div {
    display: flex;
    border: 1px dashed #111;

    max-height: 185px;
    max-width: 185px;
    padding: 10px;
}

main section.section-boxs-imgs div img {
    height: 100%;
    object-fit: contain;
    margin: auto;
}

main section.section-text {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    flex-basis: auto;
    margin: 30px 0;
}

main section.section-text div.content-text {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

main section.section-text div.content-text h3 {
    font-size: 25px;
    opacity: 0.85;
    transition: .5s;

    margin-bottom: 10px;
}

main section.section-text div.content-text p {
    opacity: .7;
    font-weight: 400;
}

main section.section-text div.box-img {
    flex: 1;
    display: flex;
    height: auto;
}

main section.section-text div.box-img img {
    width: 100%;
}